@keyframes slideInFromRight {
  from {
    transform: translateX(10%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-5%);
  }
}

.animate-in {
  animation-duration: 500ms;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

.fade-in {
  animation-name: fadeIn;
}

.slide-in-from-right-10 {
  animation-name: slideInFromRight;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}